<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>

    <h1>Welcome to the Admin Dashboard!</h1>
    <a href="{{url_for('main.logout')}}">Log Out.</a> <br><br>
    <a href="{{ url_for('main.register')}}">Register a New User</a> <br>
    <a href="{{ url_for('main.overview_data')}}">See User Data</a> <br><br>
    <a href="{{ url_for('main.job_data')}}">Job Data Collection Tool</a><br>
    <a href="{{ url_for('main.estimate')}}">Job Estimation Tool</a><br><br>

    
  </body>