<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

  <h1>Password Reset Page</h1>

  <form method = "POST" action="" novalidate>
      {{  form.hidden_tag()  }}

      {{  form.password.label  }} <br><br>
      {{  form.password  }} <br><br>
      {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %} <br><br>
      {{  form.password2.label  }} <br><br>
      {{  form.password2  }} <br><br>
      {% for error in form.password2.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %} <br><br>
      {{ form.submit }} <br><br>

      
    </form>
</body>